<html xmlns:th="http://www.thymeleaf.org"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- required libraries -->
<script src="../lib/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
      sessionStorage.access_token = [[${token}]];
      /*]]>*/
    </script>
    
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"/>
  <link href="../lib/vuetify.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
  
</head>

<body>

<div id="app">
  <v-app>
  	<div class="d-flex align-center flex-column">
  		<v-progress-linear :active="loading" :indeterminate="loading"  absolute bottom></v-progress-linear>   
    	<v-card max-width="90%" :loading="loading">
    		<v-card-text>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000"><span style="background-color:#ffffff"><strong>INFORMATIVA IN MERITO AL TRATTAMENTO DEI DATI PERSONALI</strong></span></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#222222"><span style="background-color:#ffffff">Ai sensi del</span></span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#000000">l&#39;art.13 del Regolamento UE n. 2016/679 (GDPR)</span></span></span><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#222222"><span style="background-color:#ffffff">, La informiamo che la Fondazione Bruno Kessler, in qualit&agrave; di segreteria organizzativa, proceder&agrave; al trattamento dei dati da Lei forniti esclusivamente per abilitare la console di gestione delle squadre ed inviare eventuali informazioni e comunicazioni inerenti il progetto.</span></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#222222"><span style="background-color:#ffffff">I nicknames dei membri delle squadre da Lei gestite verranno conservati in modo sicuro, anche in formato elettronico.</span></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#222222"><span style="background-color:#ffffff">Per l&rsquo;esercizio dei diritti e per informazioni sul trattamento dei dati personali &egrave; possibile rivolgersi all&rsquo;Unit&agrave; di Ricerca MODiS del Centro DIGIS di FBK sita in via Sommarive, 18 &ndash; 38123 Trento, </span></span></span></span><a href="mailto:playandgo@smartcommunitylab.it" style="text-decoration:none"><span style="font-size:10.5pt"><span style="font-family:Roboto,sans-serif"><span style="color:#1155cc"><span style="background-color:#ffffff"><u>playandgo@smartcommunitylab.it</u></span></span></span></span></a><span style="font-size:10.5pt"><span style="font-family:Roboto,sans-serif"><span style="color:#1a73e8"><span style="background-color:#ffffff">.</span></span></span></span></p>

<p style="text-align:justify"><span style="font-size:11pt"><span style="font-family:Arial"><span style="color:#222222"><span style="background-color:#ffffff">Con l&#39;invio dichiara di aver letto e compreso questa breve informativa privacy e acconsente al trattamento dei dati come in essa riportato.</span></span></span></span></p>

    		</v-card-text>
    		<v-card-text>
    			<v-row>
    				<div style="padding-left: 10px">
    					<v-checkbox v-model="privacy" :label="`Accetto`"></v-checkbox>
    				</div>		
    			</v-row>
    		</v-card-text>
    		<v-card-actions>
    			<v-btn :disabled="!privacy" text @click="send">Invia</v-btn>
    		</v-card-actions>
    	</v-card > 
  	</div>
  </v-app>
</div>

  <script src="../lib/vue.min.js"></script>
  <script src="../lib/vuetify.min.js"></script>
  <script src="../lib/luxon.min.js"></script>
  <script>
    var token = sessionStorage.access_token;
    var conf = {headers: {
    	Authorization: `Bearer ${token}`
    }};  
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
    	  return {
    		  loading: false,
    		  privacy: false,
    		  termOfConditions: false
    	  }
      },
      created() {
    	  console.log('Initializing');
      },
      computed: {
      },
      methods: {
        send() {
            this.loading = true;
            axios.put(`../api/user/consent?privacy=${this.privacy}`, {}, conf).then((data) => {
              this.loading = false;                
	            window.open('../web', '_self');                                  
            }).catch(err => {
          		console.log(err);
	            this.loading = false; 
          	});         
        }
      }
    })
  </script>
</body>

</html>