<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- required libraries -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
      INITIATIVE = [[${initiative}]];
      /*]]>*/
    </script>
    
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    
</head>

<body>

<div id="app">
  <v-app> 
    <v-content> 
		  <v-container>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th></th>
                <th th:text="#{teamboard.hsc.institute}">Istituto</th>
                <th th:text="#{teamboard.hsc.school}">Scuola</th>
                <th th:text="#{teamboard.hsc.cls}">Classe</th>
                <th th:text="#{teamboard.points}">green leaves</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="team in teams" :key="team.id">
                <td>{{team.position}}</td>
                <td>{{team.customData.institute}}</td>
                <td>{{team.customData.school}}</td>
                <td>{{team.customData.cls}}</td>
                <td>{{ (team.score || 0) | fmt}}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
		  </v-container> 
	  </v-content>
	  
  </v-app>
</div>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
	  Vue.filter('fmt', function (value) {
		  if (!value) return '0'
		  return value.toFixed(0);
		})

    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
    	  return {
    		  loading: false,
    		  teams: null,
    		  initiative: INITIATIVE
    	  }
      },
      created() {
    	  console.log('Initializing');
    	  this.load();
      },
      methods: {
    	  load() {
    		    this.loading = true;
  	        axios.get(`../../publicapi/${INITIATIVE.initiativeId}/board`).then((data) => {
  	            this.teams = data.data;
 	              this.loading = false;  	            	
 	          });    		  
    	  }
      }
    })
  </script>
</body>

</html>