<html xmlns:th="http://www.thymeleaf.org"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- required libraries -->
<script src="../lib/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
      sessionStorage.access_token = [[${token}]];
      FIELD_REQUIRED = [[#{teammgmt.error_required}]];
      MAX_TEAM_SIZE_LABEL = [[#{initiativelist.max_team_size_label}]];
      BONUS_THRESHOLD_LABEL =[[#{initiativelist.bonus_threshold_label}]];
      BONUS_LABEL =[[#{initiativelist.bonus_label}]];
      TEAM_LEADER_LABEL = [[#{initiativelist.teamLeaderList}]];
      TEAM_LEADER_DOMAIN_LABEL = [[#{initiativelist.teamLeaderDomainList}]];
      EMAIL_ERROR = [[#{initiativelist.error_email}]];
      /*]]>*/
    </script>
    
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"/>
  <link href="../lib/vuetify.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
  
</head>

<body>

<div id="app">
  <v-app> 
    <v-app-bar app >
      <v-toolbar-title th:text="#{initiativelist.title}">Initiatives</v-toolbar-title>
      <v-spacer></v-spacer>
      <!--<v-btn plain th:text="#{teammgmt.title}" @click="go('teams')">Teams</v-btn>-->
      <v-btn icon>
        <v-icon @click="logout()">mdi-logout</v-icon>
      </v-btn>
      <v-progress-linear :active="loading" :indeterminate="loading"  absolute bottom></v-progress-linear>
    </v-app-bar> 
  
    <v-content> 
      <v-container>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th th:text="#{initiativelist.id}">ID</th>
                <th th:text="#{initiativelist.name}">Name</th>
                <th th:text="#{initiativelist.type}">Type</th>
                <th th:text="#{initiativelist.from}">From</th>
                <th th:text="#{initiativelist.to}">To</th>
                <th th:text="#{initiativelist.active}">Active</th>
                <!--<th th:text="#{initiativelist.cancreate}">Can create team</th>-->
                <!--<th th:text="#{initiativelist.canedit}">Can create team</th>-->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="initiative in initiatives" :key="initiative.initiativeId">
                <td>{{initiative.initiativeId}}</td>
                <td><a :href="'./'+initiative.initiativeId+'/mgmt'">{{initiative.campaign.name.it}}</a></td>
                <td>{{initiative.type}}</td>
                <td>{{dateFormat(initiative.campaign.dateFrom)}}</td>  
                <td>{{dateFormat(initiative.campaign.dateTo)}}</td>
                <td><v-icon>{{initiative.campaign.active ? 'mdi-check': 'mdi-close-circle'}}</v-icon></td>
                <!--<td><v-btn @click="toggleCreate(initiative)" icon><v-icon>{{initiative.canCreate ? 'mdi-check': 'mdi-close-circle'}}</v-icon></v-btn></td>-->
                <!--<td><v-btn @click="toggleEdit(initiative)" icon><v-icon>{{initiative.canEdit ? 'mdi-check': 'mdi-close-circle'}}</v-icon></v-btn></td>-->
                <td><v-btn @click="doEdit(initiative)" color="primary"><v-icon>mdi-pencil</v-icon></v-btn></td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
		  </v-container> 
	  </v-content>
	  
	  <v-dialog v-model="editDialog" persistent max-width="600px">
      <v-card>
        <v-form ref="form">
        <v-card-title>
          <span class="headline" th:text="#{teammgmt.title_edit}">Team Edit</span>
        </v-card-title>
        <v-card-text>
          <v-container v-if="initiative">
            <v-row>
              <v-col cols="12">
                <v-text-field :rules="fieldRules" type="number" v-model="initiative.maxTeamSize" :persistent-hint="true" :label="MAX_TEAM_SIZE_LABEL" 
                	min="1" max="100" required></v-text-field>
              </v-col>
              <v-col cols="12">
              	<!--<span th:text="#{initiativelist.teamLeaderList}"></span>-->
              	<v-chip-group>
              		<v-chip v-for="item in initiative.teamLeaderList" @click:close="removeTeamLeader(item)" :close="true">
              			{{item}}
              		</v-chip>
              	</v-chip-group>
              </v-col>
              <v-col cols="12">
              	<v-text-field :persistent-hint="true" :label="TEAM_LEADER_LABEL" :rules="[rules.email]"
              		v-model="teamLeader" @keydown.enter.prevent="enterTeamLeader()"></v-text-field>
              </v-col>
              <v-col cols="12">
              	<!--<span th:text="#{initiativelist.teamLeaderDomainList}"></span>-->
              	<v-chip-group>
              		<v-chip v-for="item in initiative.teamLeaderDomainList" @click:close="removeTeamLeaderDomain(item)" :close="true">
              			{{item}}
              		</v-chip>
              	</v-chip-group>
              </v-col>
              <v-col cols="12">
              	<v-text-field :persistent-hint="true" :label="TEAM_LEADER_DOMAIN_LABEL" :rules="[rules.domain]"
              		v-model="teamLeaderDomain" @keydown.enter.prevent="enterTeamLeaderDomain()"></v-text-field>
              </v-col>
            </v-row>
            
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="editDialog = false" th:text="#{teammgmt.btn_close}">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveInitiative()" :disabled="!valid" th:text="#{teammgmt.btn_save}">Save</v-btn>
        </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog> 
  </v-app>
</div>


  <script src="../lib/vue.min.js"></script>
  <script src="../lib/vuetify.min.js"></script>
  <script src="../lib/luxon.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
    	  return {
    		  loading: false,
    		  initiative: null,
    		  editDialog: false,
    		  BONUS_THRESHOLD_LABEL: BONUS_THRESHOLD_LABEL,
    		  BONUS_LABEL: BONUS_LABEL,
    		  initiatives: [],
          fieldRules: [
                v => !!v || FIELD_REQUIRED
          ],
          rules: {
						required: value => !!value || FIELD_REQUIRED,
						email: value => {
            	const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            	return pattern.test(value) || EMAIL_ERROR
         	  },
         	  domain: value => {
            	const pattern = /^@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            	return pattern.test(value) || EMAIL_ERROR	
						}
         	},
					teamLeader: null,
					teamLeaderDomain: null
    	  }
      },
      created() {
    	  console.log('Initializing');
    	  this.load();
      },
      computed: {
    	  valid() {
    		  return this.initiative && this.initiative.maxTeamSize > 0;  
    	  },
      },
      methods: {
        load() {
            this.loading = true;
            axios.get(`../api/initiatives`, {headers: {Authorization: 'Bearer '+ sessionStorage.access_token}}).then((data) => {
              this.initiatives = data.data;
              this.loading = false;                 
            });         
        },
        logout() {
              console.log('logout');
               delete sessionStorage.access_token;
               window.location.href = '../logout';
         },
         toggleCreate(initiative) {
             this.loading = true;
             axios.put(`../api/initiatives/${initiative.initiativeId}/create/${!initiative.canCreate}`, {}, {headers: {Authorization: 'Bearer '+ sessionStorage.access_token}}).then((data) => {
               initiative.canCreate = data.data.canCreate;
               this.loading = false;                 
             });         
         },
         toggleEdit(initiative) {
             this.loading = true;
             axios.put(`../api/initiatives/${initiative.initiativeId}/edit/${!initiative.canEdit}`, {}, {headers: {Authorization: 'Bearer '+ sessionStorage.access_token}}).then((data) => {
               initiative.canEdit = data.data.canEdit;
               this.loading = false;                 
             });         
         },
         doEdit(initiative) {
           this.initiative = Object.assign({}, initiative);
           this.editDialog = true;
         },
         
         saveInitiative() {
             this.loading = true;
             const i = Object.assign({}, this.initiative); 
             console.log(i);
             axios.put(`../api/initiatives/${this.initiative.initiativeId}`, i, {headers: {Authorization: 'Bearer '+ sessionStorage.access_token}}).then((data) => {
               this.editDialog = false;
               this.load();
             });         
         },
         dateFormat(ts) {
           return luxon.DateTime.fromMillis(ts).toFormat('dd/LL/yyyy');
         },
        removeTeamLeader(item) {
          let idx = this.initiative.teamLeaderList.indexOf(item);
          this.initiative.teamLeaderList.splice(idx, 1);
        },
        enterTeamLeader() {
          this.initiative.teamLeaderList.push(this.teamLeader);
          this.teamLeader = null;
        },
        removeTeamLeaderDomain(item) {
          let idx = this.initiative.teamLeaderDomainList.indexOf(item);
          this.initiative.teamLeaderDomainList.splice(idx, 1);
        },
        enterTeamLeaderDomain() {
          this.initiative.teamLeaderDomainList.push(this.teamLeaderDomain);
          this.teamLeaderDomain = null;
        },      
        go(page) {
          window.location.href = './' + page;
        }
      }
    })
  </script>
</body>

</html>