<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Viaggia Play&amp;Go</title>


<!-- required libraries -->
<script src="../../lib/axios.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    	sessionStorage.access_token = [[${token}]];
    	IS_ADMIN = [[${isAdmin}]]
      INITIATIVE = [[${initiative}]];
      FIELD_REQUIRED = [[#{teammgmt.error_required}]];
      TEAM_SIZE_LABEL = [[#{teammgmt.hsc.team_size_label}]];
      TEAM_SIZE_ERROR = [[#{teammgmt.hsc.team_size_error}]];
      CLASS_SIZE_ERROR = [[#{teammgmt.hsc.class_size_error}]];
      F_NAME_LABEL = [[#{teamboard.hsc.name}]];
      F_DESC_LABEL = [[#{teamboard.hsc.desc}]];
      /*]]>*/
    </script>
    
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet"/>
  
  <link href="../../lib/vuetify.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    
</head>

<body>

<div id="app">
  <v-app> 
    <v-app-bar app >
      <v-btn icon>
        <v-icon @click="back()">mdi-chevron-left</v-icon>
      </v-btn>
      <v-toolbar-title><span  th:text="#{teammgmt.title}">Team Management</span> - {{initiative.campaign.name.it}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon @click="logout()">mdi-logout</v-icon>
      </v-btn>
      <v-progress-linear :active="loading" :indeterminate="loading"  absolute bottom></v-progress-linear>
	  </v-app-bar> 
    <v-content> 
        <v-btn class="mx-2" fab dark large color="primary" bottom right fixed @click="createNew()"  v-if="!unauthorized && !loading">
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
 		  <v-container>
		    <h1 v-if="teams != null && teams.length == 0" class="text-center" th:text="#{teammgmt.noteams}">No teams defined. Create a new one.</h1>
        <h1 color="error" v-if="!!unauthorized" class="text-center" th:text="#{teammgmt.noaccess}">You are not authorized to access this page. <v-btn color="error" @click="logout()" th:text="#{teammgmt.btn_exit}">Exit</v-btn></h1>
		    
		    <v-row>
		      <v-col cols="12" v-for="team in teams">
			      <v-card class="mx-auto">
					    <v-list-item>
					      <v-list-item-content>
					        <v-list-item-title><span><strong>{{F_NAME_LABEL}}: {{team.customData['name']}}</strong></span></v-list-item-title>
					        <v-list-item-title><span th:text="#{teamboard.hsc.desc}"></span>: {{team.customData['desc']}}</v-list-item-title>
                  <v-list-item-title v-if="isAdmin"><span th:text="#{teammgmt.owner}"></span>: {{team.owner}}</v-list-item-title>
                  <v-list-item-title><span th:text="#{teammgmt.total}"></span>: {{team.expected}}</v-list-item-subtitle>
					        <v-list-item-title>{{(team.members || []).length}} <span th:text="#{teammgmt.members}">members</span> <span v-if="team.members && team.members.length > 0">({{getTeamMemberList(team)}})</span></v-list-item-subtitle>
					      </v-list-item-content>
								<v-avatar size="125" tile>
									<v-img v-if="team.avatar" :src="getImageUrlNoCache(team.avatar)"></v-img>
								</v-avatar>					    
					    </v-list-item>
					    <v-card-actions>
					      <v-btn v-if="isAdmin && !unauthorized && !loading" color="primary" text @click="editTeam(team)" th:text="#{teammgmt.btn_edit}">Edit</v-btn>
					    </v-card-actions>					    
					  </v-card>
		      </v-col>
		    </v-row>
		  </v-container> 
	  </v-content>
	  
	  
	  <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-form ref="form" v-model="valid">
        <v-card-title>
          <span class="headline" th:text="#{teammgmt.title_edit}">Team Edit</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field :rules="fieldRules" v-model="currTeam.customData['name']" :label="F_NAME_LABEL+'*'" maxlength="25" 
                	required :disabled="editing && currTeam.isRunning && !isAdmin"></v-text-field>
              	<small>Puoi usare un nome di fantasia che permetta di identificare univocamente la tua squadra. ATTENZIONE! A gioco avviato il nome della squadra non potrà più essere modificato</small>  	
              </v-col>
              <v-col cols="12">
                <v-text-field :rules="fieldRules" v-model="currTeam.customData['desc']" :label="F_DESC_LABEL+'*'" maxlength="200" required></v-text-field>
                <small>Inserisci un breve testo descrittivo della squadra, si suggerisce di inserire il nome dell'istituto scolastico, classe e indirizzo degli studi nella forma “ISTITUTO - 5A indirizzo”.</small>
              </v-col>

              <v-col cols="12">
	              <v-file-input v-model="avatar" label="Avatar"></v-file-input>
	              <small>Inserisci un'immagine per contraddistinguere la tua squadra nelle varie schermate della mobile app come classifiche e altro. Si consiglia di usare immagini di proporzioni pressoché quadrate.</small>
              </v-col>
              
              <v-col cols="12">
                <v-text-field :rules="[rules.required, rules.classNum]" type="number" v-model="currTeam.expected" :persistent-hint="true" :label="TEAM_SIZE_LABEL+'*'" 
                	min="1" required :disabled="editing && currTeam.isRunning && !isAdmin" @wheel="$event.target.blur()"></v-text-field>
                	<small>Inserisci il <strong>NUMERO TOTALE DI ALUNNI</strong> di cui la classe è composta. Il numero alunni sarà utilizzato in vari calcoli per l’assegnazione di punteggi.
									<br><strong>Attenzione!</strong> A gioco avviato il numero alunni non potrà più essere modificato</small>
              </v-col>
              <v-col cols="12">
	              <v-autocomplete v-model="currTeam.members" :error-count="3" :search-input.sync="searchInput" :rules="[rules.required, rules.membersNum]" 
	              	:items="teamCandidates" item-text="nickname" item-disabled="disabled" hide-no-data
	              	chips deletable-chips label="Team Members" th:attr="label=#{teammgmt.lbl_members}" return-object multiple>
	              </v-autocomplete>
              	<small>Inserisci i “nickname” con cui gli studenti della squadra si sono registrati nella app “Play&Go”: al momento della loro iscrizione al gioco saranno automaticamente associati alla squadra.
								<br><strong>Attenzione!</strong> Potrai aggiungere nuovi studenti in ogni momento ma, una volta che si saranno iscritti al gioco, non potranno più essere eliminati dalla squadra.</small>
              </v-col>
            </v-row>
            
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeEdit()" th:text="#{teammgmt.btn_close}">Close</v-btn>
          <v-btn color="blue darken-1" text @click="saveTeam()" :disabled="!valid || !teamValid" th:text="#{teammgmt.btn_save}">Save</v-btn>
        </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog> 
    <v-dialog v-model="deleteDialog" max-width="480">
      <v-card>
        <v-card-title class="headline" th:text="#{teammgmt.btn_delete}">Delete message!</v-card-title>
        <v-card-text th:text="#{teammgmt.confirm_delete}">Are you sure you want to delete? This cannot be undone!</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn  text @click="deleteDialog = false" th:text="#{teammgmt.btn_cancel}"> Cancel </v-btn>
          <v-btn color="error" text @click="confirmDelete()"  th:text="#{teammgmt.btn_delete}">Delete</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>    
    <v-dialog v-model="createDialogConfirm" max-width="640">
      <v-card>
        <v-card-title class="headline" th:text="#{teammgmt.btn_save}">Save message!</v-card-title>
        <v-card-text th:text="#{teammgmt.confirm_save}">Save message!</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn  text @click="createDialogConfirm = false" th:text="#{teammgmt.btn_cancel}"> Cancel </v-btn>
          <v-btn color="error" text @click="confirmSave()"  th:text="#{teammgmt.btn_save}">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="errorDialog" max-width="480">
      <v-card>
        <v-card-title class="headline" th:text="#{teammgmt.error_server}">Server error!</v-card-title>
        <v-card-text th:text="#{teammgmt.error_server_msg}">Error message!</v-card-text>
        <v-card-text><strong>{{errorDialogMsg}}</strong> <small>[{{errorDialogCode}}]</small></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn  text @click="closeErrorDialog()" th:text="#{teammgmt.btn_close}"> Close </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>    
        
  </v-app>
</div>


	<script src="../../lib/vue.min.js"></script>
  <script src="../../lib/vuetify.min.js"></script>
  <script>
    var token = sessionStorage.access_token;
    var conf = {headers: {
    	Authorization: `Bearer ${token}`
    }};
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
    	  return {
    		  dialog: false,
    		  deleteDialog: false,
    		  createDialogConfirm: false,
          errorDialog: false,
          errorDialogMsg: '',
          errorDialogCode: '',
    		  errorLabels: [],
    		  valid: true,
    		  loading: false,
    		  unauthorized: false,
    		  editing: false,
    		  isAdmin: IS_ADMIN,
    		  TEAM_SIZE_LABEL: TEAM_SIZE_LABEL,
    		  F_NAME_LABEL: F_NAME_LABEL,
    		  fieldRules: [
    		        v => !!v || FIELD_REQUIRED
    		  ],
          rules: {
						required: value => !!value || FIELD_REQUIRED,
						membersNum: value => {
							if(!this.teamValid()) 
								return this.teamSizeErrorLabel();
							return true;	
						},
						classNum: value => {
							if(!this.initiative || (value < 1) || (value > this.maxTeamSize))
								return CLASS_SIZE_ERROR.replace(/\{0\}/g, this.maxTeamSize);
							return true;
						}	
         	},    		  
    		  teams: null,
    		  candidates: [],
    		  teamCandidates: [],
    		  currTeam: {members: [], customData: {}},
    		  initiative: INITIATIVE,
    		  maxTeamSize: INITIATIVE.maxTeamSize,
    		  initiativeId: INITIATIVE.initiativeId,
    		  isAdmin: false,
    		  searchInput: null,
    		  timerId: null,
    		  avatar: null
    	  }
      },
      created() {
    	  console.log('Initializing');
    	  this.errorLabels['NAME'] = "[[#{rest.error.NAME}]]";
    	  this.errorLabels['TEAM'] = "[[#{rest.error.TEAM}]]";
    	  this.errorLabels['NO_TEAM'] = "[[#{rest.error.NO_TEAM}]]";
    	  this.errorLabels['NO_INITIATIVE'] = "[[#{rest.error.NO_INITIATIVE}]]";
    	  this.errorLabels['OWNER'] = "[[#{rest.error.OWNER}]]";
    	  this.errorLabels['EDIT'] = "[[#{rest.error.EDIT}]]";
    	  this.errorLabels['GAMIFICATION_CUSTOM_DATA'] = "[[#{rest.error.GAMIFICATION_CUSTOM_DATA}]]";
    	  this.errorLabels['GAMIFICATION_TEAM'] = "[[#{rest.error.GAMIFICATION_TEAM}]]";
    	  this.errorLabels['ENGINE_TEAM'] = "[[#{rest.error.ENGINE_TEAM}]]";
    	  this.errorLabels['GAMIFICATION_PLAYER'] = "[[#{rest.error.GAMIFICATION_PLAYER}]]";
    	  this.errorLabels['CREATE'] = "[[#{rest.error.CREATE}]]";
    	  this.errorLabels['TEAM'] = "[[#{rest.error.TEAM}]]";
    	  this.errorLabels['PLAYER'] = "[[#{rest.error.PLAYER}]]";
    	  this.load();
      },
      computed: {
      },
      watch: {
    	  searchInput: function(val) {
    		  if (val) this.getCandidates(val);
    	  }
      },
      methods: {
    	  teamValid() {
    		  return this.currTeam && this.currTeam.members 
    		  	&& (this.currTeam.members.length <= this.currTeam.expected) 
    	  },
    	  teamSizeErrorLabel() {
    		  return TEAM_SIZE_ERROR.replace(/\{0\}/g, this.currTeam.expected); 
    	  },
    	  getCandidates: function(val) {
    		  const process = (remote) => {
                  if (this.currTeam && this.currTeam.members) {
                    // append also current members to appear as chips
                    this.currTeam.members.forEach(m => {
                       if (!remote.some(c => c.nickname == m.nickname)) {
                         m.disabled = m.subscribed;
                         remote.push(m);
                       }
                    });               
                  }
                  this.teamCandidates = remote;   			  
    		  };
    		  if (val && val.length > 1) {
             clearTimeout(this.timerId);
             this.timerId = setTimeout(() => {
               axios.get(`../../api/initiatives/${this.initiativeId}/team/candidates?size=50&txt=${!!val ? val :''}`, conf).then((data) => {
                  var remote = data.data.content.map(c => {
                    c.disabled = c.subscribed && (!this.currTeam || this.currTeam.members.some(m => m.nickname == c.nickname));
                    return c;
                  });
                  // disabled if subscribed by another team
                  process(remote);
                });
             }, 300);
    		  } else {
    			  process([]);
    		  }
    	  },
    	  logout() {
    		      console.log('logout');
              delete sessionStorage.access_token;
              window.location.href = '../../logout';
    	  },
    	  load() {
    		    this.loading = true;
	          axios.get(`../../api/initiatives/${this.initiativeId}/admin`, conf).then((admin) => {
	        	    this.isAdmin = admin.data;
	              axios.get(`../../api/initiatives/${this.initiativeId}/teams`, conf).then((data) => {
	                  this.teams = data.data;
										this.teams.forEach(t => {
											let now = Date.now();
											t.isRunning = (this.initiative.campaign.dateFrom <= now) && (this.initiative.campaign.dateTo >= now);  
										});	                  
                   	this.loading = false;                 
	              })
	          }).catch(err => {
                  console.log(err);
                  this.unauthorized = err.response.status == 401;
                  this.loading = false;                                   
            });    		  
    	  },
    	  getImageUrlNoCache(avatar) {
					var d = new Date(); 
					return avatar.url + '?ver=' + d.getTime();
				},
    	  getTeamMemberList(team) {
					var list = '';
					team.members.forEach(tm => {
						list = list + tm.nickname + ', ';
					});
					return list.slice(0, -2);
				},
    	  createNew() {
    		  this.currTeam = {members: [], customData: {}, expected: 1};
    		  this.avatar = null;
    		  this.editing = false;
    		  this.dialog = true;
          this.getCandidates();
    	  },
    	  editTeam(team) {
    		  var editTeam = Object.assign({}, team);
    		  this.currTeam = editTeam;
    		  this.avatar = null;
    		  this.editing = true;
          this.dialog = true;    		  
          this.getCandidates();
    	  },
    	  closeEdit() {
          this.currTeam = {members: [], customData: {}};
          this.editing = false;
    		  this.dialog = false;
    	  },
    	  closeErrorDialog() {
					this.errorDialogCode = '';
					this.errorDialogMsg= '';
					this.errorDialog = false;
				},
    	  saveTeam() {
    		  if (this.currTeam.id) {
    			  this.confirmSave();
    		  }
    		  else {
    			  this.createDialogConfirm = true;
    		  }
    	  },
    	  confirmSave() {
    		  if (this.loading) return;
    		  
    		  var copy = Object.assign({}, this.currTeam);
          this.loading = true;
 	        axios.post(`../../api/initiatives/${this.initiativeId}/team`, copy, conf)
 	        .then((data) => {
	            this.createDialogConfirm = false;                  
 	            this.dialog = false;
 	            if (this.avatar) {
 	            	let formData = new FormData();
	              formData.append("data", this.avatar);
 	            	axios.post(`../../api/team/${data.data.id}/avatar`, formData, conf)
 	            	.then((res) => {
 	            		this.load();
 	            	})
 	            	.catch(e => {
			              this.loading = false;
			              this.errorDialog = true;
			              this.createDialogConfirm = false;   
			          });
 	            } else  {
 	            	this.load();
 	            }
          })
          .catch(e => {
              this.loading = false;
              this.errorDialogCode = e.response.data.type;
              this.errorDialogMsg = this.errorLabels[e.response.data.type];
              this.errorDialog = true;
              this.createDialogConfirm = false;                  
          });
    	  },
    	  view(team) {
    		  window.open(`../../web/hsc/${this.initiativeId}`, '_blank');
    	  },
    	  deleteTeam(team) {
    		  this.currTeam = team;
    		  this.deleteDialog = true;    		 
    	  },
    	  confirmDelete() {
              axios.delete(`../../api/initiatives/${this.initiativeId}/team/${this.currTeam.id}`, conf).then((data) => {
                  this.deleteDialog = false;
                  this.load();
              });
    	  },
    	  back() {
    		  history.back();
    	  }
      }
    })
  </script>
</body>

</html>